
@font-face {
  font-family: 'Geomanist-Medium';
  src: url('Geomanist-Medium.eot?#iefix') format('embedded-opentype'),  url('Geomanist-Medium.otf')  format('opentype'),
	     url('Geomanist-Medium.woff') format('woff'), url('Geomanist-Medium.ttf')  format('truetype'), url('Geomanist-Medium.svg#Geomanist-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist-Light';
  src: url('Geomanist-Light.eot?#iefix') format('embedded-opentype'),  url('Geomanist-Light.otf')  format('opentype'),
	     url('Geomanist-Light.woff') format('woff'), url('Geomanist-Light.ttf')  format('truetype'), url('Geomanist-Light.svg#Geomanist-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist-Bold';
  src: url('Geomanist-Bold.eot?#iefix') format('embedded-opentype'),  url('Geomanist-Bold.otf')  format('opentype'),
	     url('Geomanist-Bold.woff') format('woff'), url('Geomanist-Bold.ttf')  format('truetype'), url('Geomanist-Bold.svg#Geomanist-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

